.ghe {
	width: 35px;
	height: 35px;
	border: none;

	border-radius: 5px;
	cursor: pointer;
	margin: 15px;
	background-color: rgb(123, 122, 122);
	color: #ffffff;
	transition: all 0s ease-in;
}
.gheDaDat {
	background-color: rgb(232, 76, 76);
	transition: all 0.3s ease-in;
	cursor: no-drop;
}
.gheDangDat {
	background-color: rgb(58, 231, 66) !important;
	transition: all 0.3s ease-in;
}
.gheVip {
	background-color: rgb(216, 134, 99);
	transition: all 0s ease-in;
}
.gheVip:hover,
.ghe:hover {
	background-color: cornflowerblue;
	transition: all 0.3s ease-in;
}
